@import '/src/styles/variables.scss';

#intro {
  background: url('/assets/images/intro-bg.jpg') no-repeat fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(325deg, rgba($color-dark, 0.3) 0%, rgba($color-main, 0.5) 50%, rgba($color-dark, 0.7) 80%);
  }

  .intro-info {
    font-family: 'Caveat', cursive;
    color: $color-light;
    z-index: 3;

    .first-name {
      font-size: calc(1rem + 2vw);
    }

    .last-name {
      font-size: calc(1rem + 3vw);
    }

    .job-title {
      font-size: calc(1rem + 3vw);
      font-family: 'Orbitron', sans-serif;
      // color: $color-secondary;
    }

    .first-name,
    .last-name,
    .job-title {
      font-weight: bold;
      white-space: nowrap;
    }
  }

  .intro-logo {
    z-index: 2;
    width: 50%;
    height: auto;
    border: 3px solid rgba(255,255,255,0.3);
    box-shadow: 5px 5px 10px rgba($color-dark, 0.5);
    -webkit-box-shadow: 5px 5px 10px rgba($color-dark, 0.5);
    -moz-box-shadow: 5px 5px 10px rgba($color-dark, 0.5);
  }
}