// $color-main: #1985A1;
// $color-secondary: #4C5C68;
// $color-dark: #46494C;
// $color-light: #DCDCDD;
// $color-silver: #C5C3C6;
$color-main: #5D5C5C;
$color-secondary: #797878;
$color-tertiary: #B2AFAF;
$color-dark: #404040;
$color-light: #CFCBCB;