<div id="main">
  <fmt-intro></fmt-intro>
  <div id="container" #content>
    <ng-container *ngIf="showContent">
      <h1 class="introduction">Hello, my name is Fernan.</h1>
      <div class="content">
        <ng-container [ngSwitch]="activeContent">
          <fmt-menu [@menuAnimation]="contentPosition" *ngSwitchCase="'menu'"></fmt-menu>
          <fmt-about-me 
            #AboutMeComponent
            *ngSwitchCase="'about-me'"
            @leftContentAnimation
            (@leftContentAnimation.done)="showSubContent(AboutMeComponent)">
          </fmt-about-me>
          <fmt-education @leftContentAnimation *ngSwitchCase="'education'"></fmt-education>
          <fmt-skills @rightContentAnimation *ngSwitchCase="'skills'"></fmt-skills>
          <fmt-experiences @rightContentAnimation *ngSwitchCase="'experiences'"></fmt-experiences>
          <fmt-contact-me @bottomContentAnimation *ngSwitchCase="'contact-me'"></fmt-contact-me>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
