<div #aboutMe id="about-me" [ngStyle]="{'height.vh': totalHeight}">
  <div *ngIf="showContent" class="content">
    <div class="title" testClick>
      <h1>About Me</h1>
    </div>
    <div *ngIf="showTimeline" class="timeline flex-center" @leftContentAnimation>
      <div class="tracker flex-center">
        <div class="cover" [ngStyle]="{'top.%': coverPosition}"></div>
        <div class="line">
          <div 
            id="timelinePoint-{{i}}"
            *ngFor="let data of aboutMeData; let i = index;"
            class="point flex-center"
            [ngClass]="{'active': showTimelineContent(i)}"
            (click)="scrollToTimeline(i)">
            <span>{{data.year}}</span>
          </div>
        </div>
      </div>
      <div class="details">
        <ng-container *ngFor="let data of aboutMeData; let i = index;">
          <div *ngIf="showTimelineContent(i)">
            <h1 class="subtitle">{{data.title}}</h1>
          </div>
        </ng-container>
      </div>
    </div>
    <button class="btn" (click)="backToMenu(aboutMe)">
      <fa-icon [icon]="backButtonIcon" size="6x"></fa-icon>
    </button>
  </div>
</div>