$typeSpeed: 5s;
$typeWordCount: 31;
$blinkSpeed: 0.5s;

#about-me {
  width: 100%;
  height: 100vh;
  font-family: 'Cutive Mono', monospace;

  h1 {
    font-size: calc(1rem + 4vw);
    position: relative;
    animation: fadeOut 1s ease calc($typeSpeed + 2s) forwards;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &::before {
      background: white;
      animation: type $typeSpeed steps($typeWordCount) forwards;
    }

    &::after {
      width: 0.05em;
      background: black;
      animation: type $typeSpeed steps($typeWordCount) forwards, blink $blinkSpeed steps($typeWordCount) infinite;
    }
  }
  
  @keyframes type {
    to { left: 100% }
  }
   
  @keyframes blink{
    to { background: transparent }
  }

  @keyframes fadeOut{
    to { opacity: 0; }
  } 
}