@import '/src/styles/variables.scss';

$menuMarginSizeX: calc(1rem + 3vw);
$menuMarginSizeY: calc(1rem + 1.5vw);

:host {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

#menu {
  width: 100%;
  height: 100%;
  position: relative;

  .title {
    h1 {
      font-family: "Cutive Mono", monospace;
      font-size: calc(1rem + 1.5vw);
    }
  }

  .menu-items {
    font-family: 'Caveat', cursive;

    button.link {
      color: $color-dark;
      line-height: 1.2;
      font-weight: 400;
      text-decoration: none;
      font-size: calc(1rem + 1vw);
      padding: calc(1rem + 1vw);
      position: absolute;
      border: 1px solid $color-dark;
      border-radius: 100%;
      background-color: #fff;
      transition: all 0.5s ease-in-out;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
        transform: scale(1.2);
      }
    }

    button.myself {
      top: 0;
      left: 0;
      margin-top: $menuMarginSizeY;
      margin-left: $menuMarginSizeX;
    }

    button.education {
      bottom: 0;
      left: 0;
      margin-bottom: $menuMarginSizeY;
      margin-left: $menuMarginSizeX;
    }

    button.skills {
      top: 0;
      right: 0;
      margin-top: $menuMarginSizeY;
      margin-right: $menuMarginSizeX;
    }

    button.experience {
      bottom: 0;
      right: 0;
      margin-bottom: $menuMarginSizeY;
      margin-right: $menuMarginSizeX;
    }

    button.contact {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      margin-bottom: $menuMarginSizeY;

      &:hover {
        transform: translate(-50%, 0) scale(1.2);
      }
    }
  }
}
